#text{
    top: 117px;
    left: 113px;
    width: 514px;
    height: 51px;
    text-align: left;
    font: normal normal bold 40px/55px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    width: 90%;
    margin: 30px auto;
}