#text{
    top: 117px;
    left: 113px;
    height: 51px;
    text-align: left;
    font: normal normal bold 40px/55px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
    width: 90%;
    margin: 30px auto;
}

#mainSearch {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding-left: 5px;
    width: 90%;
}

#filter {
    height: 600px;
    width: 250px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

#filter_heading {
    text-align: left;
    font: normal normal 600 23px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}
.sub_heading {
    text-align: left;
    margin-top: 25px;
    font: normal normal normal 18px/21px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
} 
#select_location {
    width: 150px;
}

#select {
    margin-bottom: 20px;
    margin-top: 10px;
}

#cuisines {
    margin-top: 20px;
}

.check {
    display: block;
    height: 25px;
}

#Restaurants {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 20px;
    justify-content: space-around;
    align-content: flex-start;
}

.Restaurant {
    height: 250px;
    width: 400px;
    margin-right: 20px;
    margin-bottom: 10px;
    flex: auto;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

#page_nav {
    display: block;
    width: 500px;
    text-align: center;
    margin-top: 40px;
}

.res_img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
}

.res_name {
    margin-left: 10px;
    text-align: left;
    font: normal normal 600 30px/46px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}
.res_loc {
    text-align: left;
    margin-left: 10px;
    font: normal normal medium 25px/30px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}

.address {
    margin-left: 10px;
    width: 280px;
    word-wrap: break-word;
}
.res_details {
    height: 200px;
}
.line {
    width: 97%;
    margin: 0px auto;
    border: 1px solid #DEDFE5;
    height: 0px;
    position: relative;
    top: -26px;
}

.res_cuisine {
    text-align: left;
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
    color: #636F88;
    opacity: 1;
}

.res_cost {
    margin-left: 40px;
    text-align: left;
    font: normal normal normal 16px/30px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}
